<dl>
  {{~#each cv~}}
  <!-- years. year: {{@key}} -->
    {{~#each this.contents~}}
    <!-- types. type: {{@key}} -->
      <dt class="dc-cv--title{{#if this.contents.[0].now}} dc-cv--now{{/if}} dc-cv--title__{{type}}{{#unless @index}} dc-cv--title__includesyear{{/unless}}">            
        {{~#unless @index~}}
          <span class="dctxt--date">{{../year}}</span>            
        {{/unless}}
        {{~#if type~}}
        <span class="dc-cv--bracket">(</span><!--
        --><span class="dc-cv--type dc-cv--type__{{~type~}}">
            {{~type~}}
          </span><!--
        {{/if}}
        {{~#if this.contents.[0].now~}}
      --> <span class="dctxt--date">{{this.contents.[0].date}}</span><!--
        {{/if}}
        {{~#if type~}}
      --><span class="dc-cv--bracket">)</span>
        {{/if}}
      </dt>
      {{~#each this.contents~}}
      <!-- entries. entry: {{title}} -->
      <dd class="dc-cv--entry{{#if now}} dc-cv--now{{/if}} dc-cv-type__{{type}}{{#if image}}{{#unless now}} dc-list-hoverimg{{/unless}}{{/if}}{{#if url}} dc-cv--entry__haslink{{/if}}">
        {{#if url}}<a href="{{url}}" class="dc-external-link" target="_blank" rel="noopener">{{/if}}
          <div class="dc-cv--name">{{title}}</div>
          <div class="dc-cv--location">{{situation}}{{~#if location~}}, {{/if}}{{location}}</div>
          {{#unless now}}
          {{#if image}}
            <img 
              src=""
              data-low-src="{{dc_urlpath image.lowSrc}}" 
              data-src="{{dc_urlpath image.src}}"
            >
          {{/if}}       
          {{/unless}}       
        {{#if url}}</a>{{/if}}
      </dd>
      {{/each}}
    {{/each}}
  {{/each}}
</dl>