<div class="dc-biglist dc-work dc-navigation-item" id="{{slug}}"  data-pagetype="{{pagetype}}">
<ol>
{{#each contents}}
  <li class="dc-biglist--item dc-work--year">
    <h2>
      {{this.name}}
    </h2>
    <div class="dc-work--items">
    {{#each this.contents}}
      <a 
        href="{{#unless this.is_external }}{{dc_urlpath this.url}}{{/unless}}{{#if this.is_external}}{{this.url}}{{/if}}" 
        {{#if this.is_external }}
          target="_blank"
          rel="noopener"
          class="dc-external-link"
        {{/if}}
      >
        {{~this.name~}}
      </a>
    {{/each}}
    </div>
  </li>
{{/each}}
</ol>
{{#if now}}
  <div class="dc-biglist--now dc-work--year">
    <a href="{{now.url}}" class="dc-external-link" target="_blank" rel="noopener">
      <h2 class="dctxt--date dc-cv--now">now</h2><!--
   -->({{now.type}})
      <div class="dc-cv--entry">
        <div class="dc-cv--name">{{now.title}}</div> 
        <div class="dc-cv--location">{{now.situation}}</div>
      </div>
    </a>
  </div>
{{/if}}
</div>