<div class="dc-biglist dc-dissemination dc-biglist__dissemination dc-work dc-navigation-item" id="{{slug}}" data-pagetype="{{pagetype}}">
<ol>
{{#each contents}}
  <li class="dc-biglist--item dc-work--year">
    <h2>
      {{year}}
    </h2>
    <div class="dc-dissemination-item dc-work--items dc-list-hoverimg">    
      <a href="{{url}}" target="_blank" rel="noopener" class="dc-external-link">
        <div class="dc-dissemination--info">
          <div class="dc-dissemination--name">{{title}}</div>
          <div class="dc-dissemination--location">{{situation}}</div>
        </div>
        {{~#if image~}}
        <img src="{{lowRes}}" data-src="{{image}}">
        {{/if}}
      </a>
    </div>
  </li>
{{/each}}
</ol>
</div>