<ol class="dc-media--list">
  {{#each slideshow.slides}}  
    {{#dc_slidetype 'image' this}}
      <li class="dc-media__image">
        <picture>
          {{#if content.portrait.src}}
          <source             
            {{#if content.landscape.src}}media="(orientation: portrait)"{{/if}}
            data-low-src="{{content.portrait.lowSrc}}"
            data-srcset="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw== 1w,
                    {{content.portrait.src}} {{content.portrait.dimensions.width}}w"
            data-sizes="(min-width: 900px) 1px, 
                    100vw"
          >
          {{/if}}
           {{#if content.landscape.src}}
          <source 
            {{#if content.portrait.src}}media="(orientation: landscape)"{{/if}}
            data-low-src="{{content.landscape.lowSrc}}"
            data-srcset="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw== 1w,
                    {{content.landscape.src}} {{content.landscape.dimensions.width}}w"
            data-sizes="(min-width: 900px) 1px, 
                    100vw"
          >
          {{/if}}
          <img data-src="{{content.portrait.src}}" alt="{{meta.alt}}">
        </picture>        
        <nav class="dc-media--smallnav dc-smallnav">
          <span class="dc-smallnav--prev{{#if nav.left.active}} active{{/if}}">{{nav.left.label}}</span>
          <span class="dc-smallnav--next{{#if nav.right.active}} active{{/if}}">{{nav.right.label}}</span>
        </nav>
      </li>
    {{/dc_slidetype}}
    {{#dc_slidetype 'text' this}}
      <li class="dc-media__text{{#if @first}} active{{/if}}">
        <div class="text">
          {{{content.portrait}}}
        </div>
         <nav class="dc-media--smallnav dc-smallnav">
          <span class="dc-smallnav--prev{{#if nav.left.active}} active{{/if}}">{{nav.left.label}}</span>
          <span class="dc-smallnav--next{{#if nav.right.active}} active{{/if}}">{{nav.right.label}}</span>
        </nav>
      </li>
    {{/dc_slidetype}}
    {{#dc_slidetype 'embed' this}}
      <li class="dc-media__embed{{#if @first}} active{{/if}}">
        {{{content.portrait}}}
         <nav class="dc-media--smallnav dc-smallnav">
          <span class="dc-smallnav--prev{{#if nav.left.active}} active{{/if}}">{{nav.left.label}}</span>
          <span class="dc-smallnav--next{{#if nav.right.active}} active{{/if}}">{{nav.right.label}}</span>
        </nav>
      </li>
    {{/dc_slidetype}}
    {{#dc_slidetype 'audio' this}}
      <li class="dc-media__audio{{#if @first}} active{{/if}}">
        <audio src="{{content.portrait.src}}"></audio>
         <nav class="dc-media--smallnav dc-smallnav">
          <span class="dc-smallnav--prev{{#if nav.left.active}} active{{/if}}">{{nav.left.label}}</span>
          <span class="dc-smallnav--next{{#if nav.right.active}} active{{/if}}">{{nav.right.label}}</span>
        </nav>
      </li>
    {{/dc_slidetype}}
    {{#dc_slidetype 'video' this}}
      <li class="dc-media__video{{#if @first}} active{{/if}}">
        <video src="{{content.portrait.src}}" loop playsinline></video>
         <nav class="dc-media--smallnav dc-smallnav">
          <span class="dc-smallnav--prev{{#if nav.left.active}} active{{/if}}">{{nav.left.label}}</span>
          <span class="dc-smallnav--next{{#if nav.right.active}} active{{/if}}">{{nav.right.label}}</span>
        </nav>
      </li>
    {{/dc_slidetype}}       
  {{/each}}
</ol>