<ol class="dc-media--list">
  {{#each page.slideshows.main.slides}}  
   {{#dc_slidetype 'image' this }}
      <li class="dc-media__image{{#if @first}} active{{/if}}">
        <figure>
        {{#if @first}} 
          <img src="{{content.src}}" data-src="{{content.src}}" class="loaded">
        {{else}}
          <img src="{{content.lowSrc}}" data-src="{{content.src}}">
        {{/if}}
          <figcaption>
            {{caption}}
          </figcaption>
        </figure>
      </li>
    {{/dc_slidetype}}
    {{#dc_slidetype 'text' this}}
      <li class="dc-media__text{{#if @first}} active{{/if}}">        
        <div class="text">
          {{{content}}}
        </div>
      </li>
    {{/dc_slidetype}}
    {{#dc_slidetype 'embed' this}}
      <li class="dc-media__embed{{#if @first}} active{{/if}}">
        {{{content}}}
      </li>
    {{/dc_slidetype}}
    {{#dc_slidetype 'window' this}}
      <li class="dc-media__window{{#if @first}} active{{/if}}" data-content="{{content}}">        
      </li>
    {{/dc_slidetype}}
    {{#dc_slidetype 'audio' this}}
      <li class="dc-media__audio{{#if @first}} active{{/if}}">
        <audio src="{{content.src}}"></audio>
      </li>
    {{/dc_slidetype}}
    {{#dc_slidetype 'video' this}}
      <li class="dc-media__video{{#if @first}} active{{/if}}">
        <figure>
          <video src="{{content.src}}"></video>
          <figcaption>
            {{caption}}
          </figcaption>
        </figure>
      </li>
    {{/dc_slidetype}}       
  {{/each}}
  <li class="info">
    <div class="text">
      {{{page.info}}}
    </div>
  </li>
</ol>
<nav class="dc-media--nav">
  <ol>      
    {{#each page.slideshows.main.slides }}   
    {{#dc_slidetype 'image' this }}
      <li {{#if @first}}class="active"{{/if}}>{{ nav.self.label }}</li>
    {{/dc_slidetype}}
    {{#dc_slidetype 'text' this}}
      <li {{#if @first}}class="active"{{/if}}>{{ nav.self.label }}</li>
    {{/dc_slidetype}}
    {{#dc_slidetype 'embed' this}}
      <li class="dc-media__playable dc-media__embed{{#if @first}} active{{/if}}">play</li>
    {{/dc_slidetype}}
    {{#dc_slidetype 'window' this}}
      <li class="dc-media__openable dc-media__window{{#if @first}} active{{/if}}">open</li>
    {{/dc_slidetype}}
    {{#dc_slidetype 'audio' this}}
      <li class="dc-media__playable dc-media__audio{{#if @first}} active{{/if}}">play</li>
    {{/dc_slidetype}}
    {{#dc_slidetype 'video' this}}
      <li {{#if @first}}class="active"{{/if}}>{{ nav.self.label }}</li>
    {{/dc_slidetype}}       
    {{/each}}  
    <li class="info">info</li>    
  </ol>
</nav>