<ol class="dc-media--list">
  {{#each slideshow.slides}}  
    {{#dc_isslideimage this}}
      <li class="dc-media__image">
        {{#if @first}} 
          <img src="{{content.src}}" data-src="{{content.src}}" class="loaded">
        {{else}}
          <img src="{{content.lowSrc}}" data-src="{{content.src}}">
        {{/if}}
        <nav class="dc-media--smallnav dc-smallnav">
          <span class="dc-smallnav--prev{{#if nav.left.active}} active{{/if}}">{{nav.left.label}}</span>
          <span class="dc-smallnav--next{{#if nav.right.active}} active{{/if}}">{{nav.right.label}}</span>
        </nav>
      </li>
    {{/dc_isslideimage}}
    {{#dc_isslidetext this}}
      <li class="dc-media__text{{#if @first}} active{{/if}}">
        <div class="text">
          {{{content}}}
        </div>
         <nav class="dc-media--smallnav dc-smallnav">
          <span class="dc-smallnav--prev{{#if nav.left.active}} active{{/if}}">{{nav.left.label}}</span>
          <span class="dc-smallnav--next{{#if nav.right.active}} active{{/if}}">{{nav.right.label}}</span>
        </nav>
      </li>
    {{/dc_isslidetext}}
    {{#dc_isslideembed this}}
      <li class="dc-media__embed{{#if @first}} active{{/if}}">
        {{{content}}}
         <nav class="dc-media--smallnav dc-smallnav">
          <span class="dc-smallnav--prev{{#if nav.left.active}} active{{/if}}">{{nav.left.label}}</span>
          <span class="dc-smallnav--next{{#if nav.right.active}} active{{/if}}">{{nav.right.label}}</span>
        </nav>
      </li>
    {{/dc_isslideembed}}
    {{#dc_isslideaudio this}}
      <li class="dc-media__audio{{#if @first}} active{{/if}}">
        <audio src="{{content.src}}"></audio>
         <nav class="dc-media--smallnav dc-smallnav">
          <span class="dc-smallnav--prev{{#if nav.left.active}} active{{/if}}">{{nav.left.label}}</span>
          <span class="dc-smallnav--next{{#if nav.right.active}} active{{/if}}">{{nav.right.label}}</span>
        </nav>
      </li>
    {{/dc_isslideaudio}}
    {{#dc_isslidevideo this}}
      <li class="dc-media__video{{#if @first}} active{{/if}}"></li>
        <video src="{{content.src}}"></video>
         <nav class="dc-media--smallnav dc-smallnav">
          <span class="dc-smallnav--prev{{#if nav.left.active}} active{{/if}}">{{nav.left.label}}</span>
          <span class="dc-smallnav--next{{#if nav.right.active}} active{{/if}}">{{nav.right.label}}</span>
        </nav>
      </li>
    {{/dc_isslidevideo}}       
  {{/each}}
</ol>