<ol class="dc-media--list">
  {{#each slideshow.slides}}  
    {{#dc_slidetype 'image' this}}
      <li class="dc-media__image">
        {{#if @first}} 
          <img 
            src="{{content.src}}" 
            data-src="{{content.src}}" 
            class="loaded" 
            alt="{{meta.alt}}"            
          >
        {{else}}
          <img 
            src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" 
            data-src="{{content.src}}"
            alt="{{meta.alt}}"
          >
        {{/if}}
        <nav class="dc-media--smallnav dc-smallnav">
          <span class="dc-smallnav--prev{{#if nav.left.active}} active{{/if}}">{{nav.left.label}}</span>
          <span class="dc-smallnav--next{{#if nav.right.active}} active{{/if}}">{{nav.right.label}}</span>
        </nav>
      </li>
    {{/dc_slidetype}}
    {{#dc_slidetype 'text' this}}
      <li class="dc-media__text{{#if @first}} active{{/if}}">
        <div class="text">
          {{{content}}}
        </div>
         <nav class="dc-media--smallnav dc-smallnav">
          <span class="dc-smallnav--prev{{#if nav.left.active}} active{{/if}}">{{nav.left.label}}</span>
          <span class="dc-smallnav--next{{#if nav.right.active}} active{{/if}}">{{nav.right.label}}</span>
        </nav>
      </li>
    {{/dc_slidetype}}
    {{#dc_slidetype 'embed' this}}
      <li class="dc-media__embed{{#if @first}} active{{/if}}">
        {{{content}}}
         <nav class="dc-media--smallnav dc-smallnav">
          <span class="dc-smallnav--prev{{#if nav.left.active}} active{{/if}}">{{nav.left.label}}</span>
          <span class="dc-smallnav--next{{#if nav.right.active}} active{{/if}}">{{nav.right.label}}</span>
        </nav>
      </li>
    {{/dc_slidetype}}
    {{#dc_slidetype 'audio' this}}
      <li class="dc-media__audio{{#if @first}} active{{/if}}">
        <audio src="{{content.src}}"></audio>
         <nav class="dc-media--smallnav dc-smallnav">
          <span class="dc-smallnav--prev{{#if nav.left.active}} active{{/if}}">{{nav.left.label}}</span>
          <span class="dc-smallnav--next{{#if nav.right.active}} active{{/if}}">{{nav.right.label}}</span>
        </nav>
      </li>
    {{/dc_slidetype}}
    {{#dc_slidetype 'video' this}}
      <li class="dc-media__video{{#if @first}} active{{/if}}"></li>
        <video src="{{content.src}}"></video>
         <nav class="dc-media--smallnav dc-smallnav">
          <span class="dc-smallnav--prev{{#if nav.left.active}} active{{/if}}">{{nav.left.label}}</span>
          <span class="dc-smallnav--next{{#if nav.right.active}} active{{/if}}">{{nav.right.label}}</span>
        </nav>
      </li>
    {{/dc_slidetype}}       
  {{/each}}
</ol>