<ol class="dc-media--list">
  {{#each slideshow.slides}}  
    {{#dc_slidetype 'image' this}}
      <li class="dc-media__image">        
        <img 
          src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" 
          data-src="{{dc_urlpath content.src}}" 
          alt="{{meta.alt}}"
        >
        <nav class="dc-media--smallnav dc-smallnav">
          <span class="dc-smallnav--prev{{#if nav.left.active}} active{{/if}}">{{nav.left.label}}</span>
          <span class="dc-smallnav--next{{#if nav.right.active}} active{{/if}}">{{nav.right.label}}</span>
        </nav>
      </li>
    {{/dc_slidetype}}
    {{#dc_slidetype 'text' this}}
      <li class="dc-media__text">
        <div class="text">
          {{{content}}}
          <nav class="dc-media--smallnav dc-smallnav">
            <span class="dc-smallnav--prev{{#if nav.left.active}} active{{/if}}">{{nav.left.label}}</span>
            <span class="dc-smallnav--next{{#if nav.right.active}} active{{/if}}">{{nav.right.label}}</span>
          </nav>
        </div>
      </li>
    {{/dc_slidetype}}
    {{#dc_slidetype 'embed' this}}
      <li class="dc-media__embed">
        {{{content}}}
        <nav class="dc-media--smallnav dc-smallnav">
          <span class="dc-smallnav--prev{{#if nav.left.active}} active{{/if}}">{{nav.left.label}}</span>
          <span class="dc-smallnav--next{{#if nav.right.active}} active{{/if}}">{{nav.right.label}}</span>
        </nav>
      </li>
    {{/dc_slidetype}}
    {{#dc_slidetype 'audio' this}}
      <li class="dc-media__audio">
        <audio src="{{dc_urlpath content.src}}"></audio>
        <nav class="dc-media--smallnav dc-smallnav">
          <span class="dc-smallnav--prev{{#if nav.left.active}} active{{/if}}">{{nav.left.label}}</span>
          <span class="dc-smallnav--next{{#if nav.right.active}} active{{/if}}">{{nav.right.label}}</span>
        </nav>
      </li>
    {{/dc_slidetype}}
    {{#dc_slidetype 'video' this}}
      <li class="dc-media__video"></li>
        <video src="{{dc_urlpath content.src}}"></video>
        <nav class="dc-media--smallnav dc-smallnav">
          <span class="dc-smallnav--prev{{#if nav.left.active}} active{{/if}}">{{nav.left.label}}</span>
          <span class="dc-smallnav--next{{#if nav.right.active}} active{{/if}}">{{nav.right.label}}</span>
        </nav>
      </li>
    {{/dc_slidetype}}       
  {{/each}}
</ol>