<!DOCTYPE html>
<html lang="en" data-dc-pagetype="{{pagetype}}" data-dc-homeactive="{{homeactive}}">
<head>
  <link rel="prefetch" href="https://use.typekit.net/kwj4dbu.js" as="script" crossorigin>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">
  <meta name="description" content="Established in 2016, the Demystification Committee is chaired from London and Berlin.">
  
  <!-- FAVICON -->
  <link rel="apple-touch-icon" sizes="57x57" href="/mmittee/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/mmittee/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/mmittee/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/mmittee/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/mmittee/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/mmittee/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/mmittee/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/mmittee/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/mmittee/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/mmittee/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/mmittee/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/mmittee/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/mmittee/favicon/favicon-16x16.png">
  <link rel="manifest" href="/mmittee/favicon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/mmittee/favicon/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  
  <title>{{ title }} | Demystification Committee</title>
  
  <link rel="stylesheet" href="{{dc_urlpath '/assets/css/main.css' }}">
  
  <!-- font load -->
  <script>
    (function(d) {
      var config = {
        kitId: 'kwj4dbu',
        scriptTimeout: 3000,
        async: true,
        active: function(){ 
          if( window.runTypeDependentLayout ){
            window.runTypeDependentLayout();
          }
        }
      },
      h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
    })(document);
  </script>  
  <!-- end font load -->  
  <script defer src="{{dc_urlpath '/assets/js/dist/main.js' }}"></script>
</head>
<body>
  {{{ navigation }}}
  <div class="dc-main-content">
    {{{ content }}}
  </div>
  {{{ info }}}
  <div class="dc-gfx" touch-action="none">
    {{> svg_GFX }}
  </div>
  <div class="dc-mobile-nav" touch-action="none">
    <div class="dc-mobile-bar"></div>
  </div>
  {{{ small_site }}}  
</body>
</html>