<!DOCTYPE html>
<html lang="en" data-dc-pagetype="{{pagetype}}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Established in 2016, the Demystification Committee is chaired from London and Berlin.">
  <title>{{ title }} | Demystification Committee</title>
  <link rel="stylesheet" href="{{dc_urlpath '/assets/css/main.css' }}">
</head>
<body>
  {{{ navigation }}}
  {{{ content }}}
  {{{ info }}}
  <div class="dc-mobile-nav"></div>
  {{{ small_site }}}
  <script src="{{dc_urlpath '/assets/js/dist/main.js' }}"></script>
</body>
</html>