<article class="dc-item dc-item__{{pagetype}} dc-main-wrap" id="{{slug}}">
  <section class="dc-item--info active">
    {{{data.info}}}
    <div class="dc-item--cv dc-cv">
      {{> cv cv=data.cv}}     
    </div>
    <nav class="dc-info--smallnav dc-smallnav">
      <span class="dc-smallnav--prev active">info,</span>
      <span class="dc-smallnav--next">A,</span>
    </nav>
  </section> 
  <section class="dc-media dc-media__main">
    {{> slideshow_main page=data }}
  </section>
    <section class="dc-media dc-media__portrait">
    {{> slideshow_small slideshow=data.slideshows.portrait }}
  </section>
    <section class="dc-media dc-media__landscape">
    {{> slideshow_small slideshow=data.slideshows.landscape }}
  </section>
</article>
<header class="dc-item--header">
  <span class="dctxt--date">{{date}}</span>
  <h1>
    {{name}}
  </h1>
</header>