<article class="dc-item dc-item__{{pagetype}} dc-main-wrap" id="{{slug}}">
  <section class="dc-item--info active">
    {{{data.info}}}
  </section> 
    <section class="dc-media dc-media__main">
      {{> slideshow_main slideshow=data.slideshows.main }}
    </section>
     <section class="dc-media dc-media__portrait">
      {{> slideshow_small slideshow=data.slideshows.portrait }}
    </section>
     <section class="dc-media dc-media__landscape">
      {{> slideshow_small slideshow=data.slideshows.landscape }}
    </section>
</article>
<nav class="dc-sitenav dc-worknav"><!--
--><a 
    href="{{#unless prev.is_external}}/{{/unless}}{{prev.url}}"
    {{#if prev.is_external}}target="_blank" rel="noopener"{{/if}}
  ><!--
 --><span class="dctxt--date">{{prev.date}}</span><!--
 -->{{prev.name}}<!--
 --></a><!--
--><a href="{{#unless is_external}}/{{/unless}}{{url}}" class="current"><!--
 --><span class="dctxt--date">{{date}}</span><!--
 -->{{name}}<!--
--></a><!--
--><a 
    href="{{#unless next.is_external}}/{{/unless}}{{next.url}}" 
    {{#if next.is_external}}target="_blank" rel="noopener"{{/if}}
  ><!--
 --><span class="dctxt--date">{{next.date}}</span><!--
 -->{{next.name}}<!--
--></a><!--
--></nav>